// variables
$main-bg: rgb(30, 22, 69);
$recipeBackground: rgba(30, 31, 83, 0.14);
$highlightColor: rgb(167, 246, 167);
$max-width: 1140px;
$gridBorder: 1px solid rgb(64, 11, 114);
$doubleBorder: 4px double rgb(198, 200, 198);
$itemBoxShadow: 0px 2px 5px 3px rgb(148, 148, 148);
$paperBoxShadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
  rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
$bgColorBtn: #3a7d5c;
$btnSecondary: #255d79;

// breakpoints
$big-screen: 1140px;
$tablet: 932px;
$mobile: 676px;
$small-mobile: 470px;

// mixins
@mixin mediaQuery($breakpoint, $minOrMaxWidth: max-width) {
  @media only screen and (#{$minOrMaxWidth}: $breakpoint) {
    @content;
  }
}

@mixin btnDefaults {
  width: 100%;
  color: rgb(251, 251, 251);
  border-radius: 0.25em;
  padding: 0.44em 0;
  letter-spacing: 0.06em;
}

@mixin afterElement {
  position: absolute;
  top: 0.05em;
  right: 0.05em;
  content: '\2606';
  text-align: center;
  font-size: 1.5rem;
  width: 30px;
  height: 30px;
  border-radius: 0.5em;
  background: $main-bg;
  color: rgb(251, 251, 251);
  z-index: 15;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
