@use "base" as b;

.main {
  min-height: 92vh;
  max-width: b.$max-width;
  margin: 0 auto;

  @include b.mediaQuery(b.$mobile) {
    padding: 0;
  }
}

.favoriteIcon {
  font-size: 1.12rem;
  color: white;

  &.favorite {
    color: b.$highlightColor;
  }
}
