@use "../styles/base" as b;

.btn-primary {
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: b.$main-bg;
  border: 2px solid b.$main-bg;
  padding: 0.45em 0.8em;
  display: inline-block;
  transition: all 0.3s ease-out;
  font-size: 1rem;
  background: transparent;
  border-radius: 0.25em;
  display: inline-block;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5em;

  &:hover {
    background: b.$main-bg;
    color: whitesmoke;
  }
}

.icon {
  font-size: 1.5rem;
}
