@use "../styles/base" as b;

.heading {
  background: b.$main-bg;
  color: white;
  margin: 0em auto 0.1em;
  padding: 0.55em;
  text-align: center;
  letter-spacing: 0.04em;

  > span {
    color: b.$highlightColor;
  }
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 0.25rem;
  overflow: hidden;
}
