@use "../styles/base" as b;

.errorParagraph {
  margin-left: 0.5em;
}

.heading {
  background: b.$main-bg;
  color: white;
  margin: 0em auto 0.05em;
  padding: 0.55em;
  text-align: center;
  letter-spacing: 0.04em;

  > span {
    color: b.$highlightColor;
  }
}

.categoriesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(192px, 1fr));
  gap: 0.28em;
  padding-bottom: 1em;

  @include b.mediaQuery(b.$big-screen) {
    overflow-x: hidden;
  }
}
