@use "../styles/base" as b;

.infoContainer {
  // grid-row: 1 / span 2;
  // grid-column: 2 / span 2;
  grid-area: 1 / 2 / -1/ -1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0.55em;
  margin: 0;
  border-radius: 0.25em;
  border: b.$gridBorder;
  box-shadow: b.$paperBoxShadow;

  @media only screen and (min-width: b.$big-screen) {
    grid-row-end: 3;
  }

  p {
    margin: 0.2em;
  }

  .titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 0.25em;
    margin: 0.25em 0 0em;

    > h2 {
      margin: 0.1em 0.1em 0;
      font-size: 1.6rem;
    }

    .categoryText {
      padding: 0.4em 0.6em;
      border-radius: 0.25em;
      background: b.$main-bg;
      font-size: 0.925rem;
      color: b.$highlightColor;
      // text-align: center;
      letter-spacing: 0.04em;
      text-decoration: none;
      transition: all 0.4s ease-out;

      &:hover {
        color: rgb(217, 223, 251);
        // font-weight: bold;
        // background: rgb(183, 193, 246);
      }
    }
  }

  .areaText {
    font-size: 0.925rem;
    color: rgb(47, 47, 47);
  }

  .divider {
    height: 1px;
    width: 100%;
    margin: 0.5em auto;
    background-color: #bbb;
  }

  .ingredientsTitle {
    text-align: center;
    font-weight: normal;
    margin: 0em auto 0.44em;
    @include b.btnDefaults;
    padding: 0.5em 0;
    background: b.$main-bg;

    > span {
      color: b.$highlightColor;
      letter-spacing: 0.15em;
    }
  }

  .ingredientContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(126px, 1fr));
    margin: 0;
    padding: 0;
    gap: 0.35em;

    > li {
      list-style: none;
    }
  }

  .instructionsBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4em;
    background: b.$main-bg;
    background: b.$btnSecondary;
    border: 2px solid b.$btnSecondary;
    cursor: pointer;
    @include b.btnDefaults;

    .icon {
      font-size: 1.12rem;
    }
  }

  .favoritesBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4em;
    @include b.btnDefaults;
    border: 2px solid rgb(243, 67, 13);
    background: rgb(241, 61, 61);
    // color: b.$highlightColor;
    color: white;
    cursor: pointer;

    &.added {
      background: b.$bgColorBtn;
      border: 2px solid b.$bgColorBtn;
    }

    .favoriteIcon {
      font-size: 1.12rem;
      color: white;

      &.favorite {
        color: b.$highlightColor;
      }
    }
  }

  .allFavoritesBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4em;
    @include b.btnDefaults;
    border: 2px solid b.$btnSecondary;
    background: b.$btnSecondary;
    // color: b.$highlightColor;
    color: white;
    cursor: pointer;
  }

  .instructionsText {
    color: rgb(5, 5, 5);
    // color: rgb(3, 3, 3);
    // color: rgb(241, 235, 212);
    // background-color: rgb(3, 3, 3);
    background-color: b.$recipeBackground;
    // background-color: rgb(52, 38, 122);
    border-radius: 0.25em;
    white-space: pre-wrap;
    margin: 0.05em 0;
    padding: 0.8em 0.6em;
    line-height: 1.5;
  }
}
