@use "../styles/base" as b;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75em;
  background: b.$main-bg;
  letter-spacing: 0.1em;
  border-bottom: b.$doubleBorder;
  overflow-x: hidden;

  @media only screen and (min-width: 1880px) {
    justify-content: space-around;
  }
}

.heading {
  display: flex;
  align-items: center;
  gap: 0.35em;
  font-size: 1.7rem;
  margin: 0;
  color: white;
  text-shadow: rgb(223, 187, 42) 1px 0 10px;

  > span {
    color: b.$highlightColor;
    text-shadow: none;
  }

  @include b.mediaQuery(b.$mobile) {
    font-size: 1.45rem;
  }
  @include b.mediaQuery(b.$small-mobile) {
    display: none;
  }

  .mealIcon {
    font-size: 1.8rem;
    background: b.$main-bg;
    border-radius: 0.25em;
    padding: 0.15em;
    box-shadow: white 0px 0px 5px 2px;
  }
}

.hamburger {
  color: b.$main-bg;
  display: flex;
  align-items: center;
  padding: 0.31em;
  border: 1px solid rgb(233, 232, 232);
  border-radius: 0.25em;
  transition: background 0.4s ease-out, color 0.2s ease-out;
  cursor: pointer;
  z-index: 10;

  &:hover {
    // background: rgb(243, 239, 205);
    color: rgb(212, 12, 12);
  }

  &:focus {
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: 1px solid rgb(210, 210, 245);
  }

  .burgerIcon {
    font-size: 1.6rem;
  }
}

// .nav {
//     .list {
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//       gap: 1em;
//       color: $white;

//       & > li {
//         list-style-type: none;
//       }
//     }

//     a {
//       color: $white;
//       text-decoration: none;

//       &:visited {
//         color: $white;
//       }
//       &:hover {
//         color: b.$border-highlight;
//       }
//     }

//     .selected {
//       border-bottom: 2px solid b.$border-highlight;
//     }
//   }
