@use "../styles/base" as b;

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 332px) 1fr;
  gap: 1em;
  margin: 0.25em 0.5em;

  @include b.mediaQuery(b.$mobile) {
    display: flex;
    gap: 0.5em;
    flex-direction: column;
  }
}

.imageContainer {
  // border-radius: 0.25em;
  @include b.mediaQuery(b.$mobile) {
    height: 332px;
  }

  > img {
    width: 99%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 0.25em;
    border: b.$gridBorder;
    box-shadow: b.$paperBoxShadow;
  }
}

.videoContainer {
  // border-radius: 0.25em;
  @include b.mediaQuery(b.$mobile) {
    height: 332px;
  }

  > iframe {
    width: 99%;
    height: 100%;
    border-radius: 0.25em;
    border: b.$gridBorder;
    box-shadow: b.$paperBoxShadow;
  }
}

.linkContainer {
  // display: flex;
  // justify-content: flex-start;
  // gap: 0.5em;

  > p {
    margin-top: 0.5em;
  }

  .linkText {
    padding: 0.4em 0.6em;
    border-radius: 0.25em;
    background: b.$main-bg;
    font-size: 0.925rem;
    color: b.$highlightColor;
    text-decoration: none;
    transition: color 0.4s ease-out;
    letter-spacing: 0.06em;
    cursor: pointer;

    &:hover {
      color: rgb(199, 205, 243);
    }

    &:last-child {
      margin-left: 0.5em;
    }
  }
}
